.choices
  margin-top 1em
  margin-bottom 1em

  &_hidden
    display none

.mergeTopics
    position absolute
    top 8px
    left 380px

.button-row
    display flex
    flex-direction row 
    gap 1rem